/* 
    Autoprefixer

    Hier werden 2 Eigenschaften verwendet:
    text-align-last
    column-count

    Diese gibt es f체r Mozila (Firefox) extra Eigenschaftsnamen (mit Prefix).

    Um diese automatisch zu erstellen, den Autoprefixer aktivieren. Hierzu F1 dr체cken und
    "Autoprefixer: Run" w채hlen (einfach "auto" eingeben und den Befehl w채hlen).
    */

.tabelle {
    text-align-last: auto;

    column-count: auto;
}
