.menu {
    color: red;
}

.menuitem {
    color:white;
}

#oben { 
    color: green;
}

#impressum {
    color:black;
}

.hauptteil {
    color:blue;
}

.hidden {
    color: black;
    background-color: black;
    margin-left: 5px;
}

.shown {
    color: white;
    background-color: black;
}

.blabla {
    color: red;
}